*.o
*.cmd
*.su
*.tmp

brandy-2.0/spl/.module.common.mk
brandy-2.0/spl/.newest-101c75c033af06193389555cbcc20bd4.patch
brandy-2.0/spl/arch/riscv/cpu/ads_rv32/.depend
brandy-2.0/spl/arch/riscv/cpu/riscv32/.depend
brandy-2.0/spl/autoconf.mk
brandy-2.0/spl/board/sun300iw1p1/.depend
brandy-2.0/spl/common/.depend
brandy-2.0/spl/common/libfdt/.depend
brandy-2.0/spl/drivers/.depend
brandy-2.0/spl/drivers/dram/.depend
brandy-2.0/spl/drivers/dram/sun300iw1p1/.depend
brandy-2.0/spl/drivers/dram/sun300iw1p1/lib-dram/.depend
brandy-2.0/spl/drivers/dram/sun300iw1p1/libdram
brandy-2.0/spl/drivers/mmc/general/.depend
brandy-2.0/spl/drivers/nand/general/.depend
brandy-2.0/spl/drivers/spinor/.depend
brandy-2.0/spl/drivers/sunxi_flashmap/.depend
brandy-2.0/spl/fes/.depend
brandy-2.0/spl/fes/fes1.bin
brandy-2.0/spl/fes/fes1.elf
brandy-2.0/spl/fes/fes1.lds
brandy-2.0/spl/fes/fes1.map
brandy-2.0/spl/fes/fes1_sun300iw1p1.bin
brandy-2.0/spl/fes/main/.depend
brandy-2.0/spl/include/autogen_dts_info.h
brandy-2.0/spl/include/commit_info.h
brandy-2.0/spl/include/config.h
brandy-2.0/spl/nboot/.depend
brandy-2.0/spl/nboot/boot0.lds
brandy-2.0/spl/nboot/boot0_mmcfastboot.bin
brandy-2.0/spl/nboot/boot0_mmcfastboot.elf
brandy-2.0/spl/nboot/boot0_mmcfastboot.map
brandy-2.0/spl/nboot/boot0_mmcfastboot_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_mmcfastbootaiglass.bin
brandy-2.0/spl/nboot/boot0_mmcfastbootaiglass.elf
brandy-2.0/spl/nboot/boot0_mmcfastbootaiglass.map
brandy-2.0/spl/nboot/boot0_mmcfastbootaiglass_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_mmcfastbootpmc.bin
brandy-2.0/spl/nboot/boot0_mmcfastbootpmc.elf
brandy-2.0/spl/nboot/boot0_mmcfastbootpmc.map
brandy-2.0/spl/nboot/boot0_mmcfastbootpmc_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_mmcpmc.bin
brandy-2.0/spl/nboot/boot0_mmcpmc.elf
brandy-2.0/spl/nboot/boot0_mmcpmc.map
brandy-2.0/spl/nboot/boot0_mmcpmc_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_mmcpmcver.bin
brandy-2.0/spl/nboot/boot0_mmcpmcver.elf
brandy-2.0/spl/nboot/boot0_mmcpmcver.map
brandy-2.0/spl/nboot/boot0_mmcpmcver_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_nand.bin
brandy-2.0/spl/nboot/boot0_nand.elf
brandy-2.0/spl/nboot/boot0_nand.map
brandy-2.0/spl/nboot/boot0_nand_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_nandfastboot.bin
brandy-2.0/spl/nboot/boot0_nandfastboot.elf
brandy-2.0/spl/nboot/boot0_nandfastboot.map
brandy-2.0/spl/nboot/boot0_nandfastboot_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_nandfastbootpmc.bin
brandy-2.0/spl/nboot/boot0_nandfastbootpmc.elf
brandy-2.0/spl/nboot/boot0_nandfastbootpmc.map
brandy-2.0/spl/nboot/boot0_nandfastbootpmc_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_nandpmc.bin
brandy-2.0/spl/nboot/boot0_nandpmc.elf
brandy-2.0/spl/nboot/boot0_nandpmc.map
brandy-2.0/spl/nboot/boot0_nandpmc_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_sdcard.bin
brandy-2.0/spl/nboot/boot0_sdcard.elf
brandy-2.0/spl/nboot/boot0_sdcard.map
brandy-2.0/spl/nboot/boot0_sdcard_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_spinor.bin
brandy-2.0/spl/nboot/boot0_spinor.elf
brandy-2.0/spl/nboot/boot0_spinor.map
brandy-2.0/spl/nboot/boot0_spinor_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_spinorfastboot.bin
brandy-2.0/spl/nboot/boot0_spinorfastboot.elf
brandy-2.0/spl/nboot/boot0_spinorfastboot.map
brandy-2.0/spl/nboot/boot0_spinorfastboot_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_spinorfastbootaiglass.bin
brandy-2.0/spl/nboot/boot0_spinorfastbootaiglass.elf
brandy-2.0/spl/nboot/boot0_spinorfastbootaiglass.map
brandy-2.0/spl/nboot/boot0_spinorfastbootaiglass_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_spinorfastbootpmc.bin
brandy-2.0/spl/nboot/boot0_spinorfastbootpmc.elf
brandy-2.0/spl/nboot/boot0_spinorfastbootpmc.map
brandy-2.0/spl/nboot/boot0_spinorfastbootpmc_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_spinorpmc.bin
brandy-2.0/spl/nboot/boot0_spinorpmc.elf
brandy-2.0/spl/nboot/boot0_spinorpmc.map
brandy-2.0/spl/nboot/boot0_spinorpmc_sun300iw1p1.bin
brandy-2.0/spl/nboot/boot0_spinorpmcver.bin
brandy-2.0/spl/nboot/boot0_spinorpmcver.elf
brandy-2.0/spl/nboot/boot0_spinorpmcver.map
brandy-2.0/spl/nboot/boot0_spinorpmcver_sun300iw1p1.bin
brandy-2.0/spl/nboot/load_image_mmc/.depend
brandy-2.0/spl/nboot/load_image_nand/.depend
brandy-2.0/spl/nboot/load_image_spinor/.depend
brandy-2.0/spl/nboot/main/.depend
brandy-2.0/spl/out/
brandy-2.0/spl/pmboot/.depend
brandy-2.0/spl/pmboot/main/.depend
brandy-2.0/spl/pmboot/pmboot.lds
brandy-2.0/spl/pmboot/pmboot_mmcfastboot.bin
brandy-2.0/spl/pmboot/pmboot_mmcfastboot.elf
brandy-2.0/spl/pmboot/pmboot_mmcfastboot.map
brandy-2.0/spl/pmboot/pmboot_mmcfastboot_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_mmcfastbootaiglass.bin
brandy-2.0/spl/pmboot/pmboot_mmcfastbootaiglass.elf
brandy-2.0/spl/pmboot/pmboot_mmcfastbootaiglass.map
brandy-2.0/spl/pmboot/pmboot_mmcfastbootaiglass_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_mmcfastbootpmc.bin
brandy-2.0/spl/pmboot/pmboot_mmcfastbootpmc.elf
brandy-2.0/spl/pmboot/pmboot_mmcfastbootpmc.map
brandy-2.0/spl/pmboot/pmboot_mmcfastbootpmc_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_mmcpmc.bin
brandy-2.0/spl/pmboot/pmboot_mmcpmc.elf
brandy-2.0/spl/pmboot/pmboot_mmcpmc.map
brandy-2.0/spl/pmboot/pmboot_mmcpmc_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_mmcpmcver.bin
brandy-2.0/spl/pmboot/pmboot_mmcpmcver.elf
brandy-2.0/spl/pmboot/pmboot_mmcpmcver.map
brandy-2.0/spl/pmboot/pmboot_mmcpmcver_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_nand.bin
brandy-2.0/spl/pmboot/pmboot_nand.elf
brandy-2.0/spl/pmboot/pmboot_nand.map
brandy-2.0/spl/pmboot/pmboot_nand_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_nandfastboot.bin
brandy-2.0/spl/pmboot/pmboot_nandfastboot.elf
brandy-2.0/spl/pmboot/pmboot_nandfastboot.map
brandy-2.0/spl/pmboot/pmboot_nandfastboot_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_nandfastbootpmc.bin
brandy-2.0/spl/pmboot/pmboot_nandfastbootpmc.elf
brandy-2.0/spl/pmboot/pmboot_nandfastbootpmc.map
brandy-2.0/spl/pmboot/pmboot_nandfastbootpmc_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_nandpmc.bin
brandy-2.0/spl/pmboot/pmboot_nandpmc.elf
brandy-2.0/spl/pmboot/pmboot_nandpmc.map
brandy-2.0/spl/pmboot/pmboot_nandpmc_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_sdcard.bin
brandy-2.0/spl/pmboot/pmboot_sdcard.elf
brandy-2.0/spl/pmboot/pmboot_sdcard.map
brandy-2.0/spl/pmboot/pmboot_sdcard_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_spinor.bin
brandy-2.0/spl/pmboot/pmboot_spinor.elf
brandy-2.0/spl/pmboot/pmboot_spinor.map
brandy-2.0/spl/pmboot/pmboot_spinor_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_spinorfastboot.bin
brandy-2.0/spl/pmboot/pmboot_spinorfastboot.elf
brandy-2.0/spl/pmboot/pmboot_spinorfastboot.map
brandy-2.0/spl/pmboot/pmboot_spinorfastboot_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_spinorfastbootaiglass.bin
brandy-2.0/spl/pmboot/pmboot_spinorfastbootaiglass.elf
brandy-2.0/spl/pmboot/pmboot_spinorfastbootaiglass.map
brandy-2.0/spl/pmboot/pmboot_spinorfastbootaiglass_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_spinorfastbootpmc.bin
brandy-2.0/spl/pmboot/pmboot_spinorfastbootpmc.elf
brandy-2.0/spl/pmboot/pmboot_spinorfastbootpmc.map
brandy-2.0/spl/pmboot/pmboot_spinorfastbootpmc_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_spinorpmc.bin
brandy-2.0/spl/pmboot/pmboot_spinorpmc.elf
brandy-2.0/spl/pmboot/pmboot_spinorpmc.map
brandy-2.0/spl/pmboot/pmboot_spinorpmc_sun300iw1p1.bin
brandy-2.0/spl/pmboot/pmboot_spinorpmcver.bin
brandy-2.0/spl/pmboot/pmboot_spinorpmcver.elf
brandy-2.0/spl/pmboot/pmboot_spinorpmcver.map
brandy-2.0/spl/pmboot/pmboot_spinorpmcver_sun300iw1p1.bin
brandy-2.0/spl/sboot/.depend
brandy-2.0/spl/sboot/main/.depend
brandy-2.0/spl/sboot/sboot.lds
brandy-2.0/spl/sboot/sboot_nor.bin
brandy-2.0/spl/sboot/sboot_nor.elf
brandy-2.0/spl/sboot/sboot_nor.map
brandy-2.0/spl/sboot/sboot_nor_sun300iw1p1.bin
brandy-2.0/spl/simpleboot/.depend
brandy-2.0/spl/simpleboot/boot0_spinorfastboot_sun300iw1p1.bin
brandy-2.0/spl/simpleboot/boot0_spinorfastbootaiglass_sun300iw1p1.bin
brandy-2.0/spl/simpleboot/boot0_spinorfastbootpmc_sun300iw1p1.bin
brandy-2.0/spl/simpleboot/main/.depend
brandy-2.0/spl/simpleboot/simpleboot.lds
brandy-2.0/spl/simpleboot/simpleboot_spinorfastboot.bin
brandy-2.0/spl/simpleboot/simpleboot_spinorfastboot.elf
brandy-2.0/spl/simpleboot/simpleboot_spinorfastboot.map
brandy-2.0/spl/simpleboot/simpleboot_spinorfastboot_sun300iw1p1.bin
brandy-2.0/spl/simpleboot/simpleboot_spinorfastbootaiglass.bin
brandy-2.0/spl/simpleboot/simpleboot_spinorfastbootaiglass.elf
brandy-2.0/spl/simpleboot/simpleboot_spinorfastbootaiglass.map
brandy-2.0/spl/simpleboot/simpleboot_spinorfastbootaiglass_sun300iw1p1.bin
brandy-2.0/spl/simpleboot/simpleboot_spinorfastbootpmc.bin
brandy-2.0/spl/simpleboot/simpleboot_spinorfastbootpmc.elf
brandy-2.0/spl/simpleboot/simpleboot_spinorfastbootpmc.map
brandy-2.0/spl/simpleboot/simpleboot_spinorfastbootpmc_sun300iw1p1.bin
brandy-2.0/spl/solution/.depend
brandy-2.0/spl/solution/solution_common/.depend
brandy-2.0/temp.mk
brandy-2.0/tools/toolchain/Xuantie-900-gcc-linux-5.10.4-glibc-x86_64-V2.8.1/
brandy-2.0/tools/toolchain/gcc-linaro-7.2.1-2017.11-x86_64_arm-linux-gnueabi/
brandy-2.0/tools/toolchain/nds32le-linux-glibc-v5d/
brandy-2.0/u-boot-2018/.config
brandy-2.0/u-boot-2018/.newest-793ec49039a52a165cd7c600ab3f65cc.patch
brandy-2.0/u-boot-2018/.tmp_config_from_defconfig.o.md5sum
brandy-2.0/u-boot-2018/.tmp_defcofig.o.md5sum
brandy-2.0/u-boot-2018/System.map
brandy-2.0/u-boot-2018/arch/riscv/dts/.board-uboot.dts
brandy-2.0/u-boot-2018/arch/riscv/dts/sun300iw1p1-soc-system.dtb
brandy-2.0/u-boot-2018/arch/riscv/include/asm/arch
brandy-2.0/u-boot-2018/arch/riscv/lib/asm-offsets.s
brandy-2.0/u-boot-2018/board/sunxi/sunxi_challenge.c
brandy-2.0/u-boot-2018/dts/dt-spl.dtb
brandy-2.0/u-boot-2018/dts/dt.dtb
brandy-2.0/u-boot-2018/include/autoconf.mk
brandy-2.0/u-boot-2018/include/autoconf.mk.dep
brandy-2.0/u-boot-2018/include/config.h
brandy-2.0/u-boot-2018/include/config/
brandy-2.0/u-boot-2018/include/generated/
brandy-2.0/u-boot-2018/lib/asm-offsets.s
brandy-2.0/u-boot-2018/scripts/basic/fixdep
brandy-2.0/u-boot-2018/scripts/kconfig/conf
brandy-2.0/u-boot-2018/scripts/kconfig/zconf.lex.c
brandy-2.0/u-boot-2018/scripts/kconfig/zconf.tab.c
brandy-2.0/u-boot-2018/tools/common/
brandy-2.0/u-boot-2018/tools/dumpimage
brandy-2.0/u-boot-2018/tools/fdtgrep
brandy-2.0/u-boot-2018/tools/img2srec
brandy-2.0/u-boot-2018/tools/lib/
brandy-2.0/u-boot-2018/tools/mkenvimage
brandy-2.0/u-boot-2018/tools/mkimage
brandy-2.0/u-boot-2018/tools/mksunxiboot
brandy-2.0/u-boot-2018/tools/prelink-riscv
brandy-2.0/u-boot-2018/tools/proftool
brandy-2.0/u-boot-2018/tools/sunxi-spl-image-builder
brandy-2.0/u-boot-2018/tools/sunxi_proftool
brandy-2.0/u-boot-2018/u-boot
brandy-2.0/u-boot-2018/u-boot-dtb.bin
brandy-2.0/u-boot-2018/u-boot-dtb.dts
brandy-2.0/u-boot-2018/u-boot-nodtb.bin
brandy-2.0/u-boot-2018/u-boot-sun300iw1p1.bin
brandy-2.0/u-boot-2018/u-boot.bin
brandy-2.0/u-boot-2018/u-boot.cfg
brandy-2.0/u-boot-2018/u-boot.cfg.configs
brandy-2.0/u-boot-2018/u-boot.dtb
brandy-2.0/u-boot-2018/u-boot.lds
brandy-2.0/u-boot-2018/u-boot.map
brandy-2.0/u-boot-2018/u-boot.srec
brandy-2.0/u-boot-2018/u-boot.sym
