CONFIG_RISCV=y
CONFIG_SYS_CONFIG_NAME="sun300iw1p1"
CONFIG_SYS_TEXT_BASE=0x82000000
CONFIG_ENV_SIZE=0x10000
CONFIG_SUNXI_FDT_ADDR=0x81fe0000
CONFIG_SUNXI_NOR_IMG=y
CONFIG_RISCV_NDS=y
CONFIG_CPU_A27L2=y
CONFIG_MACH_SUN300IW1=y
CONFIG_SUNXI_RISCV_MODE=y
CONFIG_DEFAULT_DEVICE_TREE="sun300iw1p1-soc-system"
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_ANDROID_BOOT_IMAGE=y
# CONFIG_LEGACY_IMAGE_FORMAT is not set
CONFIG_CONSOLE_MUX=y
CONFIG_RESERVE_FDT_SIZE=0x20000
CONFIG_SUNXI_SERIAL=y
CONFIG_SUNXI_MALLOC_LEN=0x600000
CONFIG_SUNXI_MAC=y
CONFIG_SUNXI_NECESSARY_REPLACE_FDT=y
CONFIG_SUNXI_COMP_DETECT=y
# CONFIG_CMD_BOOTI is not set
# CONFIG_CMD_GPT is not set
CONFIG_CMD_PART=y
CONFIG_CMD_SF=y
CONFIG_CMD_SF_TEST=y
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_MISC is not set
CONFIG_CMD_FAT=y
CONFIG_CMD_SUNXI_TIMER=y
# CONFIG_CMD_SUNXI_PWM is not set
CONFIG_CMD_SUNXI_BOOTR=y
CONFIG_EFI_PARTITION=y
CONFIG_CLK_SUNXI=y
# CONFIG_CPU is not set
CONFIG_SUNXI_DMA=y
CONFIG_SUNXI_GPIO_V2=y
CONFIG_MMC=y
CONFIG_SIMULATE_MULTIPLANE=y
CONFIG_SPI_FLASH=y
CONFIG_SF_DEFAULT_MODE=0x3000
CONFIG_SF_DEFAULT_SPEED=30000000
CONFIG_SPI_SAMP_DL_EN=y
CONFIG_SPI_FLASH_ATMEL=y
CONFIG_SPI_FLASH_EON=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_SST=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_XMC=y
CONFIG_SPI_FLASH_PUYA=y
CONFIG_SPI_FLASH_FM=y
CONFIG_SPI_FLASH_XT=y
CONFIG_BAUDRATE=115200
CONFIG_SPI=y
CONFIG_SUNXI_SPI=y
CONFIG_SUNXI_SPIF=y
CONFIG_SUNXI_FLASH=y
CONFIG_NOT_USE_OPTEE25=y
CONFIG_SUNXI_SBI_ECALL=y
CONFIG_FAT_WRITE=y
CONFIG_LZ4=y
CONFIG_LZMA=y
CONFIG_LZO=y
